* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(28, 55, 43);
}   

.home-container .home-whatsapp {
    width: 375px; 
    height: 667px;
    background-color: #101B20;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #22343bc0 transparent;
}



.home-container .home-whatsapp .home-top-bar{
    background-color: #0b1215c0;
    width: 100%;
    height: 50px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 25px;
    justify-content: start;
    align-items: center;
    font-weight: 300;
    border: 1px solid #192930;
}
