.home-whatsapp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}


.home-whatsapp .home-top-bar {
    background-color: #080e10c0;
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #192930;
}

.home-whatsapp .contact-list-container {
    flex: 1;
    overflow-y: auto;
}

.contact-list-container::-webkit-scrollbar {
    width: 3px;
}

.contact-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid #2a3031;
}
  

.home-whatsapp .home-top-bar .contact-title {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.home-whatsapp .home-top-bar button {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    align-items: center;
    padding: 5px;
}

.home-whatsapp .home-top-bar .search-bar {
    display: flex;
    width: 350px;
    height: 30px;
}

.home-whatsapp .home-top-bar .search-bar .search-input {
    background-color: transparent;
    border: 1px solid #192930;
    border-radius: 50px;
    padding: 8px;
    outline: none;
    color: white;
    font-size: 11px;
    width: 100%;
}

.home-whatsapp .home-top-bar .search-bar .search-input::placeholder {
    font-size: 12px;
}

.home-whatsapp .contact-list-container .no-contacts-found {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #81939b;
    font-size: 15px;
    padding: 20px;
}

.home-whatsapp .home-top-bar .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    background-color: #082e24;
    cursor: pointer;
}

.home-whatsapp .home-top-bar .add-button-text{
    font-size: 15px;
    padding: 5px;
}

