* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.profile-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.profile-content button {
    background-color: transparent;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.profile-content button i{
    color: white;
    font-size: 22px;
}

.profile-content .profile-topbar {
    display: flex;
    background-color: #101B20;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.profile-content .profile-profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-content .profile-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-content h3 {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: 500;
}


.profile-content .profile-icons {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.profile-content .profile-icons i {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: 100;
    margin-top: 40px;
}

.profile-content .profile-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    align-items: start;
    padding: 10px;
    margin-top: 50px;
}


.profile-content .profile-options button {
    padding-top: 20px;
}
.profile-content .profile-options i {
    color: red;
    font-size: 18px;
}

.profile-content .profile-options .bi-heart {
    color: white;
}