* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.whatsapp .top-bar button {
    background-color: transparent;
    padding: 2px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.whatsapp .name {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #ffffff;
    padding-left: 10px;
    justify-content: center;
}

.whatsapp .top-bar i {
    display: flex;
    color: #ffffff;
    padding: 2px;
    font-size: 20px;
}

.whatsapp .top-bar .back {
    margin: 10px;
}

.whatsapp .top-bar .videocall {
    margin-left: 150px;
}

.whatsapp .top-bar .phonecall {
    margin-left: 10px;
}

.whatsapp .top-bar .three-dots {
    margin-left: 5px;
}