* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.whatsapp .top-bar {
    display: flex;
    background-color: #101B20;
    width: 100%;
    height: 50px;
}

.whatsapp .top-bar button {
    background-color: transparent;
    padding: 2px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}


.whatsapp .top-bar .contact-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
}

 .whatsapp .top-bar .contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whatsapp .name {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #ffffff;
    justify-content: center;
    margin: 15px;
}

.whatsapp .profile-link {
    text-decoration: none;
}

.whatsapp .top-bar i {
    display: flex;
    color: #ffffff;
    padding: 2px;
    font-size: 20px;
}

.whatsapp .top-bar .back {
    margin: 10px;

}

.whatsapp .top-bar .videocall {
    margin-left: 90px;
}

.whatsapp .top-bar .phonecall {
    margin-left: 10px;
}

.whatsapp .top-bar .three-dots {
    margin-left: 5px;
}