* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.low-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    align-items: start;
}

.low-bar .message-input {
    display: flex;
    background-color: #101B20;
    color: #a2a0a0;
    width: 85%;
    height: 40px;
    border-radius: 80px;
    padding-left: 20px;
}

.low-bar .message-input .message-field {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
    outline: transparent;
}

.low-bar .message-input button {
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.low-bar .message-input i {
    color: #a2a0a0;
    padding: 5px;
    font-size: 20px;
    align-items: center;
}

.low-bar .message-input .emojis {
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 10px;
}

.low-bar .message-input .camera {
    margin-left: 10px;
}

.low-bar .send {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 80px;
    border: none;
    background-color: rgb(34, 184, 69);
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}