* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-card {
    margin: 20px;
    width: 300px;
    height: 250px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    float: inline-start;
    border-radius: 10px;
    /* margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    float: inline-start;
    width: 300px;
    height: 250px;
    gap: 10px;
    border: 1px solid rebeccapurple; */
}

.color-card .rgb {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* display: flex;
    justify-content: center;
    border: 1px solid brown;
    font-size: 10px; */
}

.color-card .likes {
    border: 1px solid aqua;
    font-size: 15px;
}

.color-card .fecha {
    border: 1px solid orchid;
}


.color-card button {
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: 1px solid red;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.color-card button i {
    display: flex;
    padding-top: 1.5px;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}





.colores-individuales {
    margin: 20px;
    width: 300px;
    height: 250px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    float: inline-start;
    border-radius: 10px;
}


.colores-individuales .primer-color {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    color: white;
    background-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.colores-individuales .segundo-color {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    color: white;
    background-color: #FF4191;
}

.colores-individuales .tercer-color {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    color: white;
    background-color: #E90074;
}

.colores-individuales .cuarto-color {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    color: black;
    background-color: #FFF078;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 