* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    background-color: green;
    width: 100vw; /*viewport width*/
    height: 100vh; /*viewport height*/
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /*column, row, row-reverse, column-reverse*/
    /* gap: 50px; */
    justify-content: space-between;
    align-items: center;
}

.padre .hijos {
    background-color: red;
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.padre .hijos:nth-child(1) {
    background-color: blue;
}

